extends layout.pug
block content 
  div.container
      h1 Commentaires de l'Entity
      if entity.comments && entity.comments.length > 0
        ul.comment-list
          each comment in entity.comments
            li.comment-item
              p.comment-content= comment.content
              p.comment-author= `Par ${comment.author} - ${comment.createdAt}`
      else
        p Aucun commentaire pour cet entity.
      form(action=`/api/articles/${entity._id}/comments`, method="POST") 
        .form-group 
          textarea.form-input(name="content", cols="20", rows="5") 
        .form-group
          input.form-input(type="text",name="author")
        button.btn.btn-primary(type="submit") Ajouter