extends layout.pug 
block content 
    .container
        table 
            thead 
                tr 
                    th Titre
                    th Contenu
            tbody
                each article in articles 
                    tr
                        th= article.title
                        td= article.content
                //- div#article-data(data-article=JSON.stringify(article))

                //- p Applaudissements :#{article.applauseCount}

                //- butonn.btn.btn-primary(id='applaudButton') Applaudir

    script(src="/js/applause.js")